// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

$common-joins-max-width: 600px;

.where-inline {
  display: inline;
}

.common-filter-table {
  max-width: $common-joins-max-width;

  .common-filter-row {
    border-top: 1px solid $divider;
    line-height: 32px;

    &:nth-child(odd) {
      background-color: $body-bg-secondary;
    }

    &:last-child {
      border-bottom: 1px solid $divider;
    }
  }
}

.stat-title {
  @extend %text-title-w3;

  padding-right: $spacer-1;
}
